<link rel="stylesheet" href="/styles/nav.css" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Rancho|Quicksand:400,700&display=swap" rel="stylesheet">
<header>
  <nav>
      <% if(locals.users) { %>
        <!-- User Is Authenticated -->
        <form method='POST' action='/logout' class='form-inline my-2 my-lg-0'>
          <span class='mr-2'><%= user.name %></span>
          <button type='submit' class='btn btn-outline-dark my-2 my-sm-0'>Logout</button>
        </form>
      <% } else { %>
        <a href="Login" alt="login">Login</a>
      <% }%>
    <h1>BURGERZ</h1>
    <form method='POST' action='/' data-cart="">
      <input name="cart" type="hidden" value="">
      <button type="submit" id="checkout-btn"><i class="fas fa-shopping-cart"></i></button>
    </form>
  </nav>
</header>
