<html>

<header>

  <div class="navbars">
    <span class="restaurant-name"><b>BURGERZ</b></span>
    <div class="navbar-nav">
        <a class="navbar-Food" href="/menu">Menu</a>
        <a class="navbar-Features" href="/checkout">Checkout</a>

          <div class="navbar-navee">
          <form class="form-inline" action="/logout" method="POST">
            <span style="margin-right: 1em">Logged In As: Mr.Joe Blow</span>
            <button type="submit">Logout</button>
          </form>
          </div>

          <div class="navbar-navee">
            <a href="/login">Login</a>
          </div>

    </div>

  </div>
</header>

</html>
