<div class="nav-top">
  <div>Signed In As Username</div>
  <div>
    <h1>BURGERZ</h1>
  </div>
  <div class="nav-right">
    <div>
      <img src="images/cart.png" />
    </div>
    <div>
      <button>Sign Up</button>
      <button>Login</button>
    </div>

  </div>
