<!DOCTYPE html>
<html>
  <head>
    <% include partials/_head %>
  </head>
  <body>
    <% include partials/_nav %>

    <section class="full-width-flex">
      <div class="signup-container">
        <h2>
          Sign Up
        </h2>

        <form action="/signup" method="POST">
          <label for="username" aria-label="username"></label>
          <input type="text" name="username" placeholder="Username">
          <label for="password" aria-label="password"></label>
          <input type="password" name="password" placeholder="Password">
          <label for="first_name" aria-label="first name"></label>
          <input type="text" name="first_name" placeholder="First Name">
          <label for="last_name" aria-label="last name"></label>
          <input type="text" name="last_name" placeholder="Last Name">
          <label for="phone_number" aria-label="phone number"></label>
          <input type="text" name="phone_number" placeholder="Phone Number">
        </form>
      </div>
    </section>

  </body>
</html> 
