// 404 page styling used in 404.ejs

.fourohfourbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: $secondary-font;
  padding-top: 3rem;

  // Photo displayed on the page
  .lost-dog {
    height: auto;
  }
}


@media only screen and (max-width: 720px) {

  .fourohfourbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
  text-align: center;
  font-family: $secondary-font;
  padding-top: 3rem;

  .lost-dog {
    max-width: 100%;
    height: auto;
  }
}
};
