// For index.ejs

body {

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// Top of menu display including icons for food restrictions
.menu-params {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  color: $color-dark-blue;
  font-family: $logo-font;
  margin-left: 5rem;
  padding: 1rem;

  div {
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    // Dietary restriction icons
    i {
      padding-right: 1rem;
    }
  }

  h1 {
    color: $color-dark-blue;
      font-family: $logo-font;
      margin-left: 5rem;
      padding-bottom: 1rem;
  }
}

// Gluten-free icon is different format from other icons
.menu-params div img.gluten-free {
  width: 1rem !important;
  height: 1rem;
}

// Box for each food item
.food-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-radius: 10px;
  border-color: $color-dark;
  width: 90%;
  margin: auto;
  margin-bottom: 1rem;
  padding: .5rem;
  font-family: $secondary-font;
  color: $color-dark-blue;

  .namePriceIcons{
    max-width: 60%;
    display: flex;
    flex-direction: column;
    flex: 1;

    h1 {
      color: $color-red;
      font-family: $logo-font;
      padding-bottom: 3px;
      font-size: 2rem;
    }
  }
  .photos {
    max-width: 25%;

  }
  img {
    width: 100%;
    height: auto;
  }

  img.gluten-free {width: 1rem; height: 1rem;}

  .priceAndBuy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 15%;

    #buy-button {
      font-family: $logo-font;
      color: $color-yellow;
      background-color: $color-red;
      padding: .25rem .40rem, .35rem .40rem;
      // padding-top: .25rem;
      // padding:
      border: .5px solid $color-red;
      border-radius: 10px;
    }
  }
}


// Responsive properties
@media only screen and (max-width: 720px) {
  .food-item {
    flex-direction: column;
    align-items: center;

    .photos {
    flex: 1;
    max-width: 75%;
    height: auto;
    align-content: center;
    margin-bottom: 1rem;
  }
  .priceAndBuy {
    // background-color: pink;
    max-width: 100%;
    justify-content: center;
    width: 95%;

  }
  .buy-button {
    height: 1.5rem;
  }
  .price {
    text-align: center;
  }
  .dietary-restrictions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
  .menu-params {
    // color:pink;
    flex-direction: column;
    margin: 0;
  }
}
