// Basic global layout stuff

$nav-height: 80px;
$color-yellow:#180d7a;
$background-color: #FFF5E6;

body {
  background-color: $background-color;

  // h1 {
  //   color: #244751;
  // }

  :focus {
    outline: 0;
  }
}

main {
  padding-top: $nav-height;
}
