// See: https://sass-lang.com/
$header-height: 80px;
$nav-color: rgb(20, 102, 78);
body {
  background-image: url("/public/src/images/burger1.jpeg");
  h1 {
    color: #244751;
  }
}
main {
  padding-top: $header-height;
}
div.food-item {
  display: grid;
  grid-template-areas:
    "photo title title"
    "photo description description"
    "photo . price"
    "restriction . button";
  grid-template-columns: 33% auto 33%;
  grid-template-rows: 25% 25% 25% 25%;
  img {
    grid-area: photo;
    height: 300px;
  }
  h1 {
    grid-area: title;
  }
  p.description {
    grid-area: description;
  }
  p.price {
    grid-area: price;
  }
  button {
    grid-area: button;
  }
}
