// For login.ejs

.container {
  width: 30%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $secondary-font;

  form {
    display: flex;
    flex-direction: column;
  }

  h1 {
    color: $color-dark-blue;
    font-family: $logo-font;
    margin-bottom: 1.5rem;
  }
  input {
    color: $color-dark;
    border-style: none;
    background-color: $color-off-white;
    border-bottom: 2px solid $color-dark;
    margin: 1rem;
    margin-bottom: 2.5rem;
  }

  ::-webkit-input-placeholder {
    color: $color-dark;
    text-align: center;

  }

  button {
    background-color: $color-red;
    color: $color-off-white;
    font-family: $logo-font;
    border-radius: 5px;
    border-style: none;
    padding-bottom: .25rem;
  }

  p {
    margin-top: 1rem;
  }
}
