// for _header.ejs

header {
  position: fixed;
  width: 100%;
  height: $nav-height;
  z-index: 1;
  background-color: $color-yellow;

}

nav {
  background-color: $color-yellow;
  position: fixed;
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 100%;
  height: auto;
  font-family: $secondary-font;

  .cart-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  span, a.user-profile {
    color: $color-dark-blue;
    font-weight: 700;
  }
  button {
    color: $color-dark-blue;
    background-color: $color-yellow;
    border-style: none;
    margin-top: 1rem;
  }
  #cart-btn {
    margin-right: 1.5rem;

  }

  #login {
    margin-left: 1.5rem;
    margin-top: 1rem;
    color: $color-dark-blue;
  }
}

// drop-down menu
.navbar-light .navbar-toggler {
  border: none;
}

.navbar navbar-light light-blue lighten-4 {
  position: fixed;
}

// selector for items in drop-down menu
a {
  color: $color-dark-blue;
}

a.logo {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  font-family: $logo-font;
  color: $color-red;
  text-shadow: 1px 1px $color-off-white;
  margin-top: 0.5rem;
}
a.logo:hover {text-decoration: none;}

@media only screen and (max-width: 400px) {
  a.logo {
    margin-top: 1.5rem;
    text-align: center;
    h1 {font-size: 1.2rem;}
  }
}
