// For profile.ejs

main#profile {
  padding-bottom: 5rem;
  form p {font-family: "Quicksand", sans-serif; font-size: 20px;}
  form span {border-bottom: $color-yellow solid 2px;}
  .edit-name, .edit-phone, .update-name, .update-phone {
    background-color: $color-yellow;
    padding: 0.5rem 2rem;
    border: 3px solid $color-dark;
  }
  .hide-name, .hide-phone {display: none;}
  #error-message-name, #error-message-phone {
    margin-top: 0.5rem;
    display: none;
    color: $color-red;
  }
  .show-name input, .show-phone input {
    padding: 0.5rem;
    border: 3px solid $color-dark;
  }
  .avatar-wrapper, .name-wrapper, .phone-wrapper, .email-wrapper {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .avatar-wrapper {
    margin-top: 0;
    img {width: 30%;}
  }
}

@media only screen and (max-width: 700px) {
  main#profile .avatar-wrapper img {
    padding-top: 2rem;
    width: 60%;
  }
}

@media only screen and (max-width: 388px) {
  main#profile .show-name input, main#profile .show-phone input {margin-top: 0.5rem;}
  main#profile .name-wrapper, main#profile .phone-wrapper, main#profile .email-wrapper {
    display: block;
    padding-right: 1em;
    padding-left: 1em;
  }
}
