// Fonts
$logo-font: 'Alfa Slab One', cursive;
$secondary-font: 'Quicksand', sans-serif;
$handwriting-font: 'The Nautigal', cursive;
$printer-font: 'IBM Plex Mono', monospace;

// Colors
$color-dark-blue: #1F1E5E;
$color-red: #54b7df;
$color-off-white: #FFF5E6;
$color-yellow: #112e6d;
$color-dark: #362A21;
$color-paper: #F4F4F6;
$color-table-border: #0F114C;
$color-retro-receipt: #998ED8;

// Order status color-codes
$color-orders-active: yellow;
$color-orders-processing: skyblue;
$color-orders-cancel: #fa1714;

// Navigation Styling
$nav-height: 80px;

//Textures
$paper-texture: url("https://www.transparenttextures.com/patterns/wild-flowers.png");
$crimpled-texture: url("https://www.transparenttextures.com/patterns/zig-zag.png");
