// See: https://sass-lang.com/

body,
html {
  margin: 0;
  font-family: 'Alfa Slab One', cursive;
  h3 {
    text-transform: uppercase;
  }
}

.heroImg h1 {
  font-size: 10em;
  font-family: 'Alfa Slab One', cursive;
}

@media only screen and (min-width: 768px) {
  header {
       background-image: url("https://www.gannett-cdn.com/-mm-/910a4bbcb0e8dd5f3a70bc9b2cd9d9a585cd3f83/c=0-122-2397-1476/local/-/media/2017/06/27/DetroitFreeP/DetroitFreePress/636341730032092663-BasementBar-021417-SG05.jpg?width=3200&height=1680&fit=crop");
       background-size: cover;
       background-position: center center;
    .heroImg {
      background: none;
      h1 {
        font-size: 15em;
        font-family: 'Alfa Slab One', cursive;
      }
    }
    .headerButtons {
      position: relative;
      top: -15em;
      margin: 0;
      padding-top: 1em;
    }
  }

  #guest-login {
    width: 100%;
    margin: 4em, auto;
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .form-group {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  #menu {
    width: 100%;
    margin: 0;
    padding: 0;
    #menu-items {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .browse-all {
      margin: 2em 3em;
      width: 100%;
      h3 {
        margin-left: 0;
      }
      .browse-all-img {
          width: 95%;
          justify-content: space-evenly;
          .items {
            img {
              box-shadow: 8px 8px 6px #252323;
              border-radius: 5px 2em 5px 2em;
            }
            .item-info {
              // margin: 2em;
              :nth-child(1) {
                margin-top: 2em;
              }
            }
          }
      }
  }
  }
  #order-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    justify-content: space-evenly;
    align-items: space-evenly;
  }
}
